<!--
*******************************************************************************
* Copyright (C) 2017-2020 German Aerospace Center (DLR). 
* Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
*
* This program and the accompanying materials are made available under the 
* terms of the Eclipse Public License 2.0 which is available at
* http://www.eclipse.org/legal/epl-2.0.
*
* SPDX-License-Identifier: EPL-2.0 
*
* Contributors: 
*  Daniel Heß
********************************************************************************
-->
<launch>
  <node name="timer" pkg="adore_if_ros" type="adore_timer_node" output="screen" launch-prefix="gnome-terminal --command"/>
  <node name="sumotraffic2ros_node" pkg="sumo_if_ros" type="sumotraffic2ros_node" output="screen"/>
  <node name="sumo" pkg="sumo_if_ros" type="sumo_example.sh" output="screen" launch-prefix="gnome-terminal --command"/>
</launch>