libadore/build
libdore/external
libdore/external/*/build
**/build
**build
**.git
**.docker
**lizard_report.xml
**_report.log
make_gadgets
**_docker
**make_gadgets
lizard_docker
cpplint_docker
cppcheck_docker
