**.log
**/build
**.vagrant
**.git

**build
**.bag
catkin_workspace/
.config/
.bash_history
.ros
.zsh*
*.sw*
**lizard_report.xml**
**.log
**.vagrant
**.catkin_workspace
**.docker_image_cache**
.docker_image_cache
.log
adore/
