[submodule "adore_if_carla"]
	path = adore_if_carla
	url = git@github.com:dlr-ts/adore_if_carla
[submodule "adore_if_ros_msg"]
	path = adore_if_ros_msg
	url = git@github.com:dlr-ts/adore_if_ros_msg
[submodule "adore_if_v2x"]
	path = adore_if_v2x
	url = git@github.com:dlr-ts/adore_if_v2x
[submodule "adore_v2x_sim"]
	path = adore_v2x_sim
	url = git@github.com:dlr-ts/adore_v2x_sim
[submodule "apt_cacher_ng_docker"]
	path = apt_cacher_ng_docker
	url = git@github.com:dlr-ts/apt_cacher_ng_docker
	ignore = untracked
	shallow = true
[submodule "plotlabserver"]
	path = plotlabserver
	url = git@github.com:dlr-ts/plotlabserver
[submodule "sumo_if_ros"]
	path = sumo_if_ros
	url = git@github.com:dlr-ts/sumo_if_ros
[submodule "v2x_if_ros_msg"]
	path = v2x_if_ros_msg
	url = git@github.com:dlr-ts/v2x_if_ros_msg
[submodule "adore_if_ros/adore_if_ros_msg"]
	path = adore_if_ros/adore_if_ros_msg
	url = git@github.com:dlr-ts/adore_if_ros_msg
[submodule "adore_if_ros/plotlablib"]
	path = adore_if_ros/plotlablib
	url = git@github.com:dlr-ts/plotlablib
[submodule "libadore/libadore/external/Catch2"]
	path = libadore/libadore/external/Catch2
	url = git@github.com:catchorg/Catch2
    ignore = dirty
	shallow = true
[submodule "libadore/libadore/external/csaps-cpp"]
	path = libadore/libadore/external/csaps-cpp
	url = git@github.com:dlr-ts/csaps-cpp
	ignore = untracked
	shallow = true
[submodule "libadore/libadore/external/dlib"]
	path = libadore/libadore/external/dlib
	url = git@github.com:davisking/dlib
	ignore = untracked
	shallow = true
[submodule "libadore/libadore/external/osqp"]
	path = libadore/libadore/external/osqp
	url = git@github.com:osqp/osqp
	ignore = untracked
	shallow = true
[submodule "libadore/libadore/external/qpOASES"]
	path = libadore/libadore/external/qpOASES
	url = git@github.com:coin-or/qpOASES
	ignore = untracked
	shallow = true
[submodule "libadore/libadore/external/xodr"]
	path = libadore/libadore/external/xodr
	url = git@github.com:dlr-ts/xodr
	ignore = untracked
	shallow = true
    branch = adore
[submodule "adore_if_ros/cppcheck_docker"]
	path = adore_if_ros/cppcheck_docker
	url = git@github.com:DLR-TS/cppcheck_docker.git
	branch = master
[submodule "adore_if_ros/lizard_docker"]
	path = adore_if_ros/lizard_docker
	url = git@github.com:DLR-TS/lizard_docker.git
	branch = master
[submodule "adore_if_ros/cpplint_docker"]
	path = adore_if_ros/cpplint_docker
	url = git@github.com:DLR-TS/cpplint_docker.git
	branch = master
[submodule "libadore/cpplint_docker"]
	path = libadore/cpplint_docker
	url = git@github.com:DLR-TS/cpplint_docker.git
	branch = master
[submodule "libadore/cppcheck_docker"]
	path = libadore/cppcheck_docker
	url = git@github.com:DLR-TS/cppcheck_docker.git
	branch = master
[submodule "libadore/lizard_docker"]
	path = libadore/lizard_docker
	url = git@github.com:DLR-TS/lizard_docker.git
	branch = master
[submodule "libadore/make_gadgets"]
	path = libadore/make_gadgets
	url = git@github.com:DLR-TS/make_gadgets.git
