<launch>
  <group ns="Vehicle">
    <param name="a" value="2.03" type="double" />  
    <param name="b" value="1.93" type="double" />  
    <param name="c" value="0.78" type="double" />  
    <param name="d" value="1.15" type="double" />  
    <param name="m" value="1800" type="double" />  
    <param name="mu" value="0.8" type="double" />  
    <param name="g" value="9.81" type="double" />  
    <param name="h" value="0.55" type="double" />  
    <param name="cf" value="17" type="double" />  
    <param name="cr" value="17" type="double" />  
    <param name="Iz_m" value="1" type="double" />  
    <param name="wf" value="1.95" type="double" />  
    <param name="wr" value="1.95" type="double" />  
    <param name="bodyWidth" value="2.03" type="double" />  
    <param name="steeringRatio" value="14.0" type="double" />  
    <param name="steeringAngleMax" value="1.22173" type="double" />
    <param name="steeringAngleMin" value="-1.22173" type="double" />
    <param name="observationPointForPosition" value="0.0" type="double" />
  </group>
  <group ns="trajectory_tracking">
    <param name="key" value="1.06" type="double" />   <!-- 0.86 -->
    <param name="kepsi" value="0.5" type="double" />  <!-- 1.0 -->
    <param name="keomega" value="0.15" type="double" />  <!-- 0.15-->
    <param name="kIy" value="0.1" type="double" /> 
    <param name="kIx" value="0.005" type="double" />  <!-- 0.05-->
    <param name="k0x" value="1.0" type="double" /> <!-- 0.9--> 
    <param name="k1x" value="2.0" type="double" />  
    <param name="muCtrlMax" value="1.0" type="double" />  
    <param name="axMax" value="2.0" type="double" />  
    <param name="axMin" value="-3.0" type="double" />  
    <param name="exStatic" value="0.0" type="double" />  
    <param name="eyStatic" value="0.0" type="double" />  
    <param name="deltaMax" value="1.5" type="double" />  
    <param name="deltaMin" value="-1.5" type="double" />  
    <param name="dDeltaMax" value="0.8" type="double" />  
    <param name="brakingTorqueGain" value="0.0" type="double" />  
    <param name="dBrakingTorqueMax" value="0.0" type="double" />
    <param name="kPev_r" value="0.0" type="double" />
    <param name="kIev_r" value="0.0" type="double" />  
    <param name="kPex_r" value="0.0" type="double" />  
    <param name="kIex_r" value="0.0" type="double" />  
    <param name="kPey_r" value="0.0" type="double" />  
    <param name="kPepsi_r" value="0.0" type="double" />  
    <param name="kIepsi_r" value="0.0" type="double" />
  </group>
  <group ns="trajectory_generation">
    <param name="rho" value="3.96" type="double" />  
  </group>
</launch>