<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Stephan Lapoehn
 ********************************************************************************-->
 <launch>
  <group ns="plotoptions">
    <group ns="prediction">
      <param name="wcp/active" value="1" type="bool" />
      <param name="wcp/r_start" value="1" type="double" />
      <param name="wcp/r_end" value="1" type="double" />
      <param name="wcp/g_start" value="0" type="double" />
      <param name="wcp/g_end" value="1" type="double" />
      <param name="ego/active" value="1" type="bool" />
    </group>
    <group ns="viewplotter">
      <param name="lf_geometry_plotoptions" value="LineColor=0.0,1.0,0.0;LineWidth=1.2" type="str" />
      <param name="lc_geometry_plotoptions" value="LineColor=1.0,1.0,0.0;LineWidth=1.2" type="str" />
      <param name="lf_geometry_narrowing" value="0.2" type="double" />
      <param name="lc_geometry_narrowing" value="0.2" type="double" />
      <param name="plot_lc_geometry" value="1" type="bool" />
      <param name="plot_lf_geometry" value="1" type="bool" />
      <param name="number_of_samples_per_boundary" value="50" type="int" />
      <param name="lc_sufficient_width_plotoptions" value="LineColor=0.0,1.0,0.0;LineWidth=1.2" type="str" />
      <param name="lc_gate_plotoptions" value="LineColor=0.0,1.0,0.0;LineWidth=1.2" type="str" />
    </group>

    <param name="followMode" value="1" type="int" />  
    <param name="debugTrafficIDs" value="false" type="bool" />  
    <param name="outer_border" value="LineColor=0.6,0.6,0.6;LineWidth=2.6" type="str" /> 
    <!-- to color in outer left and right borders differently, use the following lines-->
    <!-- <param name="leftmost_border" value="LineColor=0.9,0.9,0.4;LineWidth=5" type="str" />  -->
    <!-- <param name="rightmost_border" value="LineColor=0.9,0.4,0.4;LineWidth=2.6" type="str" />  -->

    <param name="drive_lane" value="FillColor=0.3,0.3,0.3;LineColor=0.25,0.25,0.25;LineWidth=0.3" type="str" />
    <param name="emergency_lane" value="FillColor=0.9,0.8,0.8;LineColor=0.8,0.7,0.7;LineWidth=0.3" type="str" />
    <param name="other_lane" value="FillColor=0.8,0.7,0.7;LineColor=0.75,0.65,0.65;LineWidth=1.6" type="str" />
    <param name="default_lane" value="FillColor=0.6,0.6,0.6;LineColor=0.65,0.65,0.65;LineWidth=1.6" type="str" />
    <param name="setpoint" value="LineWidth=5.6;LineColor=0.7,0.4,0.1" type="str" />

    <!-- the geoserver url must end with bbox, since this will be put at the end -->
    <param name="plotoptions/tiles/base_url" value="https://www.wms.nrw.de/geobasis/wms_nw_dop?language=ger&#038;SERVICE=WMS&#038;REQUEST=GetMap&#038;VERSION=1.3.0&#038;layers=nw_dop_rgb&#038;styles=&#038;width=400&#038;height=400&#038;CRS=EPSG:25832&#038;FORMAT=image/jpeg&#038;bbox=" type="str" /> 
    <!--the aim geoserver may not be used in public demos: access rights have changed-->
    <!-- <param name="tiles/base_url" value="https://maps.aim.ts.dlr.de/geoserver/bs.amt/wms?service=WMS&#038;version=1.1.0&#038;request=GetMap&#038;layers=bs.amt:DLK_2017&#038;styles=&#038;width=500&#038;height=500&#038;srs=EPSG:32632&#038;format=image/jpeg&#038;bbox=" type="str" /> -->
    <param name="tiles/width_meters" value="25" type="double" />
  </group>
</launch>



     
    
    