<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Daniel Heß - initial API and implementation
 *
 * A demo CAV configuration with lane-following behavior.
 ********************************************************************************-->
<launch>
    <include ns="PARAMS" file="$(dirname)/adore_params_vehicle_independent.launch"/>
    <include ns="PARAMS" file="$(dirname)/adore_params_vehicle_fascare.launch"/>
    <param name="PARAMS/local_road_map/navigation_active" value="false" type="bool"/>
    <node name="vmodel" pkg="adore_if_ros" type="adore_vehiclemodel_node"/>
    <node name="smodel" pkg="adore_if_ros" type="adore_objectdetectionmodel_node"/>
    <node name="lmap" pkg="adore_if_ros" type="adore_mapprovider_node" cwd="ROS_HOME"/><!-- ROS_HOME is ~/.ros by default-->
    <node name="tracker" pkg="adore_if_ros" type="adore_feedbackcontroller_node" output="screen"/>
    <node name="planner" pkg="adore_if_ros" type="adore_lfbehavior_node" output="screen"/>
    <node name="lvprovider" pkg="adore_if_ros" type="adore_lvprovider_node"/>
</launch>