<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Daniel Heß - initial API and implementation
 ********************************************************************************-->
<launch>
  <node name="timer" pkg="adore_if_ros" type="adore_timer_node" output="screen" launch-prefix="xterm -e" args=""/>
  <group ns="vehicle0">
    <include file="demo_vehicle_cfg03.launch"/>
    <include file="demo_plotters.launch"/>
    <param name="PARAMS/track" value="$(dirname)/tracks/2019-04-30_Testfeld_Duesseldorf_Karree_modifiziert.xodr" type="str" />
    <param name="PARAMS/translation_x" value="0" type="double" /> <!-- 2341793 -->
    <param name="PARAMS/translation_y" value="0" type="double" /> <!-- 398533 -->
    <param name="PARAMS/translation_z" value="0" type="double" />
    <param name="PARAMS/rotation_x" value="0" type="double" /> <!-- 0 -->
    <param name="PARAMS/rotation_y" value="0" type="double" /> <!-- 0 -->
    <param name="PARAMS/rotation_psi" value="0" type="double" />    <!-- 0.375 -->

    <param name="PARAMS/local_road_map/navigation_active" value="true" type="bool" />
    <param name="PARAMS/navigation/active_plotting_global" value="true" type="bool" />  
    <param name="PARAMS/navigation/active_plotting_local" value="true" type="bool" />  
    <param name="PARAMS/map_provider/activate_plotting" value="false" type="bool" />  
    <param name="PARAMS/tactical_planner/global_speed_limit" value="10" type="double" />  
    <param name="simulationID" value="0" type="int" />  
    <node pkg="adore_if_ros" type="plot_trajectories_node" name="plot_trajectories"/><!--plot vehicle trajectory-->
    <!-- set the start position -->
    <node pkg="rostopic" type="rostopic" name="posereset" args="pub /vehicle0/SIM/ResetVehiclePose geometry_msgs/Pose '{position: {x: 344697.538659, y: 5676160.718138, z: 0},orientation: {z: -0.999819, w: 0.019012}}'"/>
    <!-- set the goal position: switch between two goal positions on opposite sides of block -->
    <node pkg="topic_tools" type="transform" name="navgoal" args="/vehicle0/odom /vehicle0/ENV/NavigationGoal adore_if_ros_msg/NavigationGoal 'adore_if_ros_msg.msg.NavigationGoal(target=geometry_msgs.msg.Point(x=344653.628737, y=5675964.8 if m.pose.pose.position.y>5676062 else 5676160, z=0.0))' --import geometry_msgs std_msgs adore_if_ros_msg"/>

    <!--activate plotting of sat images with public nrw geo server-->
    <node pkg="adore_if_ros" type="plot_satimages_node" name="plot_satimages"/>
    <param name="plotoptions/tiles/base_url" value="https://www.wms.nrw.de/geobasis/wms_nw_dop?language=ger&#038;SERVICE=WMS&#038;REQUEST=GetMap&#038;VERSION=1.3.0&#038;layers=nw_dop_rgb&#038;styles=&#038;width=400&#038;height=400&#038;CRS=EPSG:25832&#038;FORMAT=image/jpeg&#038;bbox=" type="str" /> 
    <param name="plotoptions/tiles/width_meters" value="100" type="double" /> 
  </group>
</launch>
