<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Daniel Heß - initial API and implementation
 ********************************************************************************-->
<launch>
  <node name="timer" pkg="adore_if_ros" type="adore_timer_node" output="screen" launch-prefix="xterm -e"/>
  <group ns="vehicle0">
    <param name="PARAMS/track" value="$(dirname)/tracks/basic_test_track.xodr" type="str" />
    <param name="simulationID" value="0" type="int" />  
    <include file="demo_vehicle_cfg01b.launch"/><!--configuration with ego localization models-->
    <include file="demo_plotters.launch"/>
    <node name="plot_trajectories" pkg="adore_if_ros" type="plot_trajectories_node"/>
    <node pkg="rostopic" type="rostopic" name="posereset" args="pub /vehicle0/SIM/ResetVehiclePose geometry_msgs/Pose '{position: {x: 150, y: 162, z: 0},orientation: { w: 1}}'"/>
    <!-- set max speed of this vehicle -->
    <param name="PARAMS/tactical_planner/global_speed_limit" value="30" type="double" />  
  </group>
</launch>
