<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Daniel Heß - initial API and implementation
 ********************************************************************************-->
  <!--check whether sumo exists/is built, before launching-->
  <!--  go to: ~/catkin_ws/src -->
  <!--  execute: catkin build sumo_if_ros-->
  <!--check the environment variable SUMO_HOME is set before launching-->
  <!--otherwise enter command: export SUMO_HOME="~/catkin_ws/src/adore/sumo"-->
<launch>
  <node name="timer" pkg="adore_if_ros" type="adore_timer_node"/>
  <group ns="vehicle0">
    <include file="demo_vehicle_cfg01.launch"/>
    <include file="demo_plotters.launch"/>
    <param name="PARAMS/track" value="$(dirname)/tracks/circle50m.xodr" type="str" />
    <param name="simulationID" value="0" type="int" />  
    <param name="debugTrafficIDs" value="true" type="bool" />
    <param name="plotoptions/followMode" value="false" type="bool" />
    <node pkg="rostopic" type="rostopic" name="posereset" args="pub /vehicle0/SIM/ResetVehiclePose geometry_msgs/Pose '{position: {x: 0, y: -52, z: 0},orientation: { w: 1}}'"/>
  </group>
  <param name="/sumo/cfg_file" type="str" value="$(dirname)/demo005.sumocfg"/>
  <param name="/sumo/step_length" type="double" value="0.05"/>
  <node name="sumo_if_ros_node" pkg="sumo_if_ros" type="sumo_if_ros_node" output="screen"/>
</launch>
