<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Stephan Lapoehn - initial API and implementation
 ********************************************************************************-->
  <!--check whether sumo exists/is built, before launching-->
  <!--  go to: ~/catkin_ws/src -->
  <!--  execute: catkin build sumo_if_ros-->
  <!--check the environment variable SUMO_HOME is set before launching-->
  <!--otherwise enter command: export SUMO_HOME="~/catkin_ws/src/adore/sumo"-->
<launch>
  <node name="timer" pkg="adore_if_ros" type="adore_timer_node" launch-prefix="xterm -e "/><!-- output="screen"/>-->
  <group ns="vehicle0">
    <param name="simulationID" value="0" type="int" />  
    <param name="PARAMS/track" value="$(dirname)/tracks/basic_test_track.xodr" type="str" />
    <param name="PARAMS/local_road_map/navigation_active" value="true" type="bool" />
    <param name="PARAMS/navigation/active_plotting_global" value="false" type="bool" />  
    <param name="PARAMS/tactical_planner/global_speed_limit" value="30" type="double" />  
    <param name="PARAMS/V2X_TL/UseSystemTime" value="true" type="bool"/>
    <include file="demo_plotters.launch"/>
    <include file="demo_vehicle_cfg02.launch"/>
    <node pkg="adore_if_ros" type="plot_trajectories_node" name="plot_trajectories"/><!--plot vehicle trajectory-->
    <node name="tlplotter" pkg="adore_if_ros" type="plot_trafficlights_node"/>
    <node name="v2xgate" pkg="v2xsim" type="channel_sim_node" launch-prefix="xterm -e "  output="screen"/>
    <node name="v2x_tl_interpreter" pkg="adore_if_v2x" type="v2x_trafficlights_node"/>
    <node pkg="rostopic" type="rostopic" name="posereset" args="pub /vehicle0/SIM/ResetVehiclePose geometry_msgs/Pose '{position: {x: 675, y: 653, z: 0},orientation: { z: -0.6922, w: 0.7217}}'"/>
  </group> 
  <param name="PARAMS/V2X_TL/UseSystemTime" value="true" type="bool"/>
  <arg name="sumocfg" value="../adore_if_ros_demos/demo008.sumocfg"/>
  <arg name="sumohome" value="$(env SUMO_HOME)"/>
  <arg name="traciport" value="1337"/>
  <arg name="sumostep" value="0.05"/>
  <node name="sumo" pkg="sumo_if_ros" type="start_sumo.sh" output="screen" launch-prefix="xterm -e " args="$(arg sumohome) $(arg sumocfg) $(arg traciport) $(arg sumostep)"/>
  <node name="sumotraffic2ros_node" pkg="sumo_if_ros" type="sumotraffic2ros_node" launch-prefix="xterm -e /bin/sh -c 'sleep 5; $0 $@'" output="screen"/>

</launch>
