<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Matthias Nichting- initial API and implementation
 *   Daniel Heß - switched to prediction based precedence
 ********************************************************************************-->
<launch>
  <node name="timer" pkg="adore_if_ros" type="adore_timer_node" output="screen" launch-prefix="xterm -e"/>
  <group ns="vehicle0">
    <include file="demo_plotters.launch"/>
    <include file="demo_vehicle_cfg02.launch"/>
    <param name="PARAMS/local_road_map/navigation_active" value="true" type="bool"/>
    <param name="PARAMS/track" value="$(dirname)/tracks/basic_test_track.xodr" type="str" />
    <param name="PARAMS/precedence" value="$(dirname)/tracks/basic_test_track_precedence_v3.txt" type="str" />
    <param name="PARAMS/tactical_planner/global_speed_limit" value="30" type="double" />  
    <param name="PARAMS/tactical_planner/collision_detection_front_buffer_space" value="2.0" type="double" />  
    <param name="plotoptions/followMode" value="false" type="bool" />
    <param name="simulationID" value="0" type="int" />  
    <node pkg="rostopic" type="rostopic" name="posereset" args="pub /vehicle0/SIM/ResetVehiclePose geometry_msgs/Pose '{position: {x: 50, y: 162, z: 0},orientation: { w: 1}}'"/>
    <node pkg="rostopic" type="rostopic" name="navgoal" args="pub /vehicle0/ENV/NavigationGoal adore_if_ros_msg/NavigationGoal '{target: {x: 140, y: 300, z: 0}}'"/>
    <node pkg="adore_if_ros" type="plot_predictions_node" name="plot_predictions"/>
  </group>
  <group ns="vehicle1">
    <include file="demo_vehicle_cfg02.launch"/>
    <param name="PARAMS/track" value="$(dirname)/tracks/basic_test_track.xodr" type="str" />
    <param name="PARAMS/precedence" value="$(dirname)/tracks/basic_test_track_precedence_v3.txt" type="str" />
    <param name="PARAMS/tactical_planner/global_speed_limit" value="10" type="double" />  
    <param name="PARAMS/tactical_planner/collision_detection_front_buffer_space" value="2.0" type="double" />  
    <param name="simulationID" value="1" type="int" />  
    <node pkg="rostopic" type="rostopic" name="posereset" args="pub /vehicle1/SIM/ResetVehiclePose geometry_msgs/Pose '{position: {x: 138.7, y: 50, z: 0},orientation: {z: 1, w: 1}}'"/>
    <node pkg="rostopic" type="rostopic" name="navgoal" args="pub /vehicle1/ENV/NavigationGoal adore_if_ros_msg/NavigationGoal '{target: {x: 0, y: 166, z: 0}}'"/>
    <node pkg="adore_if_ros" type="plot_predictions_node" name="plot_predictions"/>
  </group>
</launch>
