<!--********************************************************************************
 * Copyright (C) 2017-2022 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *  Matthias Nichting- initial API and implementation
 *  Jan Lauermann
 ********************************************************************************-->
<!-- Please note the instructions in the README.md file.-->
<launch>
  <!-- global parameters -->
  <param name="/use_sim_time" value="false"/>
  <param name="/tcp_no_delay" value="true"/>
  <param name="/use_scheduler" value="false"/>

  <group ns="/vehicle0">
        <param name="simulationID" value="0" type="int" />
        <include file="demo_plotters.launch"/>
        
        <!--Parameters-->
        <param name="PARAMS/tactical_planner/global_speed_limit" value="14" type="double"/>
        <param name="PARAMS/track" value="$(dirname)/../adore_if_carla/adore_if_carla/launch/Town10HD.xodr" type="str" />
        <include ns="PARAMS" file="$(dirname)/adore_params_vehicle_independent.launch"/>
        <param name="PARAMS/lateral_planner/weight_pos" value="1.0" type="double" />  
        <param name="PARAMS/local_road_map/navigation_active" value="false" type="bool" />
        <include ns="PARAMS" file="$(dirname)/adore_params_vehicle_cybertruck.launch"/>
        <node name="tracker" pkg="adore_if_ros" type="adore_feedbackcontroller_node"/>
        <node name="lmap" pkg="adore_if_ros" type="adore_mapprovider_node" cwd="ROS_HOME"/><!-- ROS_HOME is ~/.ros by default-->
        <node name="lnav" pkg="adore_if_ros" type="adore_navigation_node" cwd="ROS_HOME"/>  
        <node name="planner" pkg="adore_if_ros" type="adore_lfbehavior_node" output="screen"/>
        <node name="lvprovider" pkg="adore_if_ros" type="adore_lvprovider_node" output="screen"/>

        <node name="dash" pkg="adore_if_ros" type="test_control_dashboard"/>
        <node name="plot_traj" pkg="adore_if_ros" type="plot_trajectories_node"/>
    </group>

</launch>
