<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Jan Lauermann - initial API and implementation
 ********************************************************************************-->
<launch>
  <group ns="Vehicle">
    <param name="a" value="1.014" type="double" />  
    <param name="b" value="1.676" type="double" />  
    <param name="c" value="0.97" type="double" />  
    <param name="d" value="1.12" type="double" />  
    <param name="m" value="1800" type="double" />  
    <param name="mu" value="0.8" type="double" />  
    <param name="g" value="9.81" type="double" />  
    <param name="h" value="0.5" type="double" />  
    <param name="cf" value="10.8" type="double" />  
    <param name="cr" value="17.8" type="double" />  
    <param name="Iz_m" value="1.57" type="double" />  
    <param name="wf" value="1.7" type="double" />  
    <param name="wr" value="1.7" type="double" />  
    <param name="bodyWidth" value="1.82" type="double" />  
    <param name="steeringRatio" value="1" type="double" />  
    <param name="steeringAngleMax" value="1.57" type="double" />
    <param name="steeringAngleMin" value="-1.57" type="double" />
    <param name="observationPointForPosition" value="0.0" type="double" />
  </group>
</launch>