<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Jan Lauermann - initial API and implementation
 ********************************************************************************-->
<launch>
  <group ns="local_road_map">
    <param name="discard_radius" value="400.0" type="double" />  
    <param name="navigation_active" value="false" type="bool" />  
    <param name="border_trace_length" value="50.0" type="double" />  
  </group>
</launch>
