<!--********************************************************************************
 * Copyright (C) 2017-2020 German Aerospace Center (DLR). 
 * Eclipse ADORe, Automated Driving Open Research https://eclipse.org/adore
 *
 * This program and the accompanying materials are made available under the 
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 * Contributors: 
 *   Jan Lauermann - initial API and implementation
 ********************************************************************************-->
<launch>
  <group ns="lateral_planner">
    <param name="weight_pos" value="6.0" type="double" />  
    <param name="weight_vel" value="1.0" type="double" />  
    <param name="weight_acc" value="1.0" type="double" />  
    <param name="weight_jerk" value="1.0" type="double" />  
    <param name="weight_end_pos" value="0.0" type="double" />  
    <param name="weight_end_vel" value="0.0" type="double" />  
    <param name="weight_end_acc" value="0.0" type="double" />  
    <param name="slack_pos" value="0.1" type="double" />  
    <param name="slack_vel" value="0.1" type="double" />  
    <param name="slack_acc" value="0.1" type="double" />  
    <param name="acc_lb" value="-10.0" type="double" />  
    <param name="acc_ub" value="10.0" type="double" />  
    <param name="jerk_lb" value="-100.0" type="double" />  
    <param name="jerk_ub" value="100.0" type="double" />  
    <param name="curvature_ub" value="0.14" type="double" />  
    <param name="curvature_lb" value="-0.14" type="double" />
    <param name="relative_heading_ub" value="0.7" type="double" />
    <param name="relative_heading_lb" value="-0.7" type="double" />
    <param name="merge_constraint_delay" value="3.0" type="double" />
    <param name="hard_safety_distance_to_lane_boundary" value="0.2" type="double" />
    <param name="soft_safety_distance_to_lane_boundary" value="1.0" type="double" />
    <param name="minimum_lateral_control_space" value="1.0" type="double" />
    <param name="max_cpu_time" value="0.05" type="double" />
  </group>
</launch>