# SPDX-FileCopyrightText: 2019 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: EPL-2.0

cmake_policy(SET CMP0048 OLD)
add_compile_options("-fdiagnostics-color=always")
#set(USE_AVX_INSTRUCTIONS "1")
#set(CMAKE_CXX_FLAGS_RELEASE "-Ofast -fwhole-program -DNDEBUG")

#MESSAGE(NOTICE "Build type: " ${CMAKE_BUILD_TYPE})
#MESSAGE(NOTICE "Library Type: " ${LIB_TYPE})
#MESSAGE(NOTICE "Compiler flags:" ${CMAKE_CXX_COMPILE_FLAGS})
#MESSAGE(NOTICE "Compiler cxx debug flags:" ${CMAKE_CXX_FLAGS_DEBUG})
#MESSAGE(NOTICE "Compiler cxx release flags:" ${CMAKE_CXX_FLAGS_RELEASE})
#MESSAGE(NOTICE "Compiler cxx min size flags:" ${CMAKE_CXX_FLAGS_MINSIZEREL})
#MESSAGE(NOTICE "Compiler cxx flags:" ${CMAKE_CXX_FLAGS})

