# SPDX-FileCopyrightText: 2019 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: EPL-2.0


set(libadore_sources_dir ${CMAKE_CURRENT_SOURCE_DIR}/../libadore)
if(NOT EXISTS ${libadore_sources_dir})
message(NOTICE "libadore sources must be downloaded")
  find_package(Git REQUIRED)
  if(DEFINED ENV{adore_libadore_branch})
  execute_process(
      COMMAND ${GIT_EXECUTABLE} clone -b $ENV{adore_libadore_branch} ${adore_REPOSITORY_URL}/libadore.git ${libadore_sources_dir}
  )
  else()
  execute_process(
      COMMAND ${GIT_EXECUTABLE} clone ${adore_REPOSITORY_URL}/libadore.git ${libadore_sources_dir}
  )
  endif()
endif()

add_subdirectory("${libadore_sources_dir}" "${CMAKE_CURRENT_BINARY_DIR}/../libadore")
file(TOUCH ${libadore_sources_dir}/CATKIN_IGNORE)
